


 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background.jpg);
}

.container {
    text-align: center;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}


.proposal-text {
    font-size: 36px;
    margin: 20px 0;
}

.ring-image {
    max-width: 30%;
    margin: 20px 0;
}


.response-buttons {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    background-color: #32cd32;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #228b22;
}



 
.fa-heart {
    color: rgb(226, 143, 173);
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}
